#NavLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;

    li {
      padding: 0 10px;
      position: relative;

      &:last-child {
        margin-right: 0;
      }

      a {
        text-decoration: none;
        color: #333;
        font-weight: bold;

        &.active {
          color: #007bff;
          text-decoration: underline;
        }

        &:hover {
          color: #ff5733;
        }
      }

      &:not(:last-child)::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 1px;
        background-color: #333;
      }
    }
  }
}
