#quote {
    .quote {
        margin-top: 24px;
        text-align: center;
        padding: 20px;
        background-color: #f5f5f5;
        border: 1px solid #cccccc83;
  
        p {
          font-size: 1.1rem;
          font-weight: 500;
          margin-bottom: 10px;
        }
  
        span {
          font-size: 1rem;
          color: #555;
        }
      }
}